body {
    background: #356381;
}
#hero {
    background: url(https://img.pikbest.com/wp/202345/desktop-wallpapers-landscape-background-wallpaper_9578952.jpg!bw700);
    background-size: cover;
}
#row {
    background-color: rgba(72, 82, 75, 0.568);
    height: 50px;
}
.navbar-brand img {
    max-width: 60px; 
    height: auto; 
  }
.navbar {
    opacity: 75%;
}
/*font*/
.card-text, .card-title {
    font-family: "buffo", sans-serif;
    font-weight: 700;
    font-style: italic;
}
/*card hover */
.card {
    transition: transform .5s;
    border-radius: 30px;
}
.card:hover {
    transform: scale(1.25); 
    z-index: 5;
}
@media (max-width: 768px) {
    .card:hover {
        transform: scale(1); 
    }
}
/* separates things*/
#y {
    height: 100%;
}

